.App {
  text-align: center;
  width: 1280px;
  margin: auto auto;
}

.header {
  height: 200px;
  background-size: 200px;
  background-repeat: no-repeat;
}
.footer {
  height: 25px;
  color: black;
}
